<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ユーザー編集</title>
	<link rel="stylesheet" th:href="@{/css/usersnewedit.css}">
</head>
<body>
    <div class="card">
        <h1>ユーザー編集</h1>
		
		<form th:action="@{/user/update}" th:object="${userForm}" method="post">
		    <input type="hidden" th:field="*{id}">

		    <div>
		        <label>名前:</label>
		        
				<input type="text" th:field="*{name}" th:errorclass="input-error">
		        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color:red;"></p>
		    </div>

		    <button type="submit">更新</button>
		</form>
        <a th:href="@{/}" class="back-link">キャンセルして戻る</a>
    </div>
</body>
</html>